{% extends "base.html" %}

{% block content %}

<h1>Entschlüsselung mit der Vigenere Chiffre</h1>
<hr class="pb-3 mb-5">

<form action="{{url_for('bp_vigenere.entschluesseln_buttonclick')}}" method="post" enctype="multipart/form-data">
    <h2 class="pb-3 mb-3">Dateneingabe</h2>
    <p>
        Bitte den Schlüssel und den zu entschlüsselnden Text eingeben. Dafür entweder eine Textdatei über den
        Upload-Button hochladen <b>oder</b> den Text in das Eingabefeld eingeben. Ist ein Upload erfolgt, wird nur
        dieser verwendet und eine mögliche Eingabe ignoriert.
    </p>
    <div class="mb-3">
        <label for="key" class="form-label">Eingabe des Schlüssels:</label>
        <input type="text" class="form-control" id="key" name="key" value="{{key_param}}">
    </div>
    <br>
    <div class="mb-3">
        <label for="ciphertext_upload" class="form-label">Upload für den zu entschlüsselnden Text: </label>
        <input type="file" class="form-control" accept=".txt" id="ciphertext_upload" name="ciphertext_upload"
               value="{{upload_param}}">
    </div>
    <div class="mb-3">
        <label for="cipher_text" class="form-label">Eingabe des zu verschlüsselnden Textes:</label><br>
        <textarea class="form-control" id="cipher_text" name="cipher_text" rows="4" cols="50">{{text_param}}</textarea>
    </div>

    <br>

    <!--Ausgabe von Messages als Alert-->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <button type="submit" class="btn btn-primary btn-lg">Text entschlüsseln</button>
</form>

{% if keytable is defined %}

<hr class="pb-3 my-5">
<h2 class="pb-3 mb-3">Transformieren der Schlüsselbuchstaben</h2>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Schlüsselbuchstabe</th>
            {% for item in keytable %}
            <th class="mx-auto text-center">{{item[0]}}</th>
            {% endfor %}
        </tr>
        </thead>
        <tr>
            <th>Schlüsselbuchstabe als Zahl</th>
            {% for item in keytable %}
            <td class="mx-auto text-center">{{item[1]}}</td>
            {% endfor %}
        </tr>
    </table>
</div>

<br>

<hr class="pb-3 my-5">
<h2 class="pb-3 mb-3">Transformieren und entschlüsseln der Geheimtextbuchstaben</h2>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Verschlüsselter Buchstabe</th>
            {% for item in decrypttable %}
            <th class="mx-auto text-center">{{item[0]}}</th>
            {% endfor %}
        </tr>
        </thead>
        <tr>
            <th>Buchstabe als Zahl</th>
            {% for item in decrypttable %}
            <td class="mx-auto text-center">{{item[1]}}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Schlüsselbuchstabe</th>
            {% for item in decrypttable %}
            <td class="mx-auto text-center">{{item[2]}}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Entschlüsselte Zahl</th>
            {% for item in decrypttable %}
            <td class="mx-auto text-center">{{item[3]}}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Entschlüsselter Buchstabe</th>
            {% for item in decrypttable %}
            <td class="mx-auto text-center">{{item[4]}}</td>
            {% endfor %}
        </tr>
    </table>
</div>

<hr class="pb-3 my-5">
<h2 class="pb-3 mb-3">Entschlüsselter Text</h2>

<p style="word-wrap: break-word;">
    {{cleartext}}
</p>

<br>

<form method="get" action="{{url_for('bp_vigenere.decrypt_download_file')}}">
    <button type="submit" class="btn btn-primary btn-lg">Text herunterladen</button>
</form>

{% endif %}

{% endblock %}
