{% extends "base.html" %}


{% block head %}

<script>
    // Funktion für Dateidownload
    function download(data, filename, type) {
        var file = new Blob([data], {type: type});
        if (window.navigator.msSaveOrOpenBlob)
            window.navigator.msSaveOrOpenBlob(file, filename);
        else {
            var a = document.createElement("a"),
                    url = URL.createObjectURL(file);
            a.href = url;
            a.download = filename;
            document.body.appendChild(a);
            a.click();
            setTimeout(function() {
                document.body.removeChild(a);
                window.URL.revokeObjectURL(url);
            }, 0);
        }
    }
</script>


{% endblock %}


{% block content %}

<!-- Überschrift -->
<h1>Entschlüsselung mit der Vigenere Chiffre</h1>
<hr class="pb-3 mb-5">

<!-- Formular, welches eingegebene Daten bei Buttonklick an Blueprint weitergibt-->
<form action="{{url_for('bp_vigenere.entschluesseln_buttonclick')}}" method="post" enctype="multipart/form-data">
    <h2 class="pb-3 mb-3">Dateneingabe</h2>
    <p>
        Bitte den Schlüssel und den zu entschlüsselnden Text eingeben. Dafür entweder eine Textdatei über den
        Upload-Button hochladen <b>oder</b> den Text in das Eingabefeld eingeben. Ist ein Upload erfolgt, wird nur
        dieser verwendet und eine mögliche Eingabe ignoriert.
    </p>
    <!-- Schlüsseleingabe -->
    <div class="mb-3">
        <label for="key" class="form-label">Eingabe des Schlüssels:</label>
        <input type="text" class="form-control" id="key" name="key" value="{{key_param}}">
    </div>
    <br>
    <!-- Dateiupload -->
    <div class="mb-3">
        <label for="ciphertext_upload" class="form-label">Upload für den zu entschlüsselnden Text: </label>
        <input type="file" class="form-control" accept=".txt" id="ciphertext_upload" name="ciphertext_upload"
               value="{{upload_param}}">
    </div>
    <!-- Texteingabefeld -->
    <div class="mb-3">
        <label for="cipher_text" class="form-label">Eingabe des zu verschlüsselnden Textes:</label><br>
        <textarea class="form-control" id="cipher_text" name="cipher_text" rows="4" cols="50">{{text_param}}</textarea>
    </div>

    <br>

    <!--Ausgabe von Messages als Alert-->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <!-- Button -->
    <button type="submit" class="btn btn-primary btn-lg">Text entschlüsseln</button>
</form>

{% if keytable is defined %}

<hr class="pb-3 my-5">
<h2 class="pb-3 mb-3">Transformieren der Schlüsselbuchstaben</h2>

<!-- Tabelle mit Schlüssel -->
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Schlüsselbuchstabe</th>
            {% for item in keytable %}
            <th class="mx-auto text-center">{{item[0]}}</th>
            {% endfor %}
        </tr>
        </thead>
        <tr>
            <th>Schlüsselbuchstabe als Zahl</th>
            {% for item in keytable %}
            <td class="mx-auto text-center">{{item[1]}}</td>
            {% endfor %}
        </tr>
    </table>
</div>

<br>

<hr class="pb-3 my-5">
<h2 class="pb-3 mb-3">Transformieren und entschlüsseln der Geheimtextbuchstaben</h2>

<!-- Tabelle zur Entschlüsselung-->
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Verschlüsselter Buchstabe</th>
            {% for item in decrypttable %}
            <th class="mx-auto text-center">{{item[0]}}</th>
            {% endfor %}
        </tr>
        </thead>
        <tr>
            <th>Buchstabe als Zahl</th>
            {% for item in decrypttable %}
            <td class="mx-auto text-center">{{item[1]}}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Schlüsselbuchstabe</th>
            {% for item in decrypttable %}
            <td class="mx-auto text-center">{{item[2]}}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Entschlüsselte Zahl</th>
            {% for item in decrypttable %}
            <td class="mx-auto text-center">{{item[3]}}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Entschlüsselter Buchstabe</th>
            {% for item in decrypttable %}
            <td class="mx-auto text-center">{{item[4]}}</td>
            {% endfor %}
        </tr>
    </table>
</div>

<hr class="pb-3 my-5">
<h2 class="pb-3 mb-3">Entschlüsselter Text</h2>

<!-- entschlüsselter Text -->
<p style="word-wrap: break-word;">
    {{cleartext}}
</p>

<br>

<!-- Button, welcher mit dem script eine Download-Datei erstellt und downloadet -->
<button class="btn btn-primary btn-lg" onclick="download('{{cleartext}}', 'decrypttext.txt', 'text/plain')">
    Text herunterladen
</button>


{% endif %}

{% endblock %}
