<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vigenere: Entschlüsselung</title>
</head>

<body>

  <h1>Entschlüsselung mit der Vigenere Chiffre</h1>

   <nav>
       <a href="{{url_for('bp_vigenere.verschluesseln')}}" >Verschlüsseln</a>
       <a href="{{url_for('bp_vigenere.entschluesseln')}}" >Entschlüsseln</a>
       <a href="{{url_for('bp_vigenere.kasiski_test')}}">Kasiski-Test</a>
       <a href="{{url_for('bp_vigenere.koinzidenzindex_methode')}}">Koinzidenzindex-Methode</a>
       <a href="{{url_for('bp_vigenere.gki_methode')}}">Schlüsselberechnung</a>
   </nav>

  <form action="{{url_for('bp_vigenere.entschluesseln_buttonclick')}}" method="post" enctype="multipart/form-data">
    <label for="key">Eingabe des Schlüssels:</label>
    <input type="text" id="key" name="key" value="{{key_param}}"><br>
    <br>
    <label for="ciphertext_upload">Upload für den zu entschlüsselnden Text: </label>
    <input type="file" id="ciphertext_upload" name="ciphertext_upload" value="{{upload_param}}"><br>
    <label for="cipher_text">Alternativ:</label><br>
    <label for="cipher_text">Eingabe des zu verschlüsselnden Textes:</label>
    <input type="text" id="cipher_text" name="cipher_text" value="{{text_param}}"><br>
    <button type="submit">Berechnen</button><br>
  </form>

  <br>

  <table>
      <tr>
          {% for item in keytable %}
          <th>{{item[0]}}</th>
          {% endfor %}
      </tr>
      <tr>
          {% for item in keytable %}
          <th>{{item[1]}}</th>
          {% endfor %}
      </tr>
  </table>

  <br>

  <table>
      <tr>
          {% for item in decrypttable %}
          <th>{{item[0]}}</th>
          {% endfor %}
      </tr>
      <tr>
          {% for item in decrypttable %}
          <th>{{item[1]}}</th>
          {% endfor %}
      </tr>
      <tr>
          {% for item in decrypttable %}
          <th>{{item[2]}}</th>
          {% endfor %}
      </tr>
      <tr>
          {% for item in decrypttable %}
          <th>{{item[3]}}</th>
          {% endfor %}
      </tr>
      <tr>
          {% for item in decrypttable %}
          <th>{{item[4]}}</th>
          {% endfor %}
      </tr>
  </table>

  <br>

  <h3>
      {{cleartext}}
  </h3>

  <form method="get" action="{{url_for('bp_vigenere.decrypt_download_file')}}">
     <button type="submit">Download!</button>
  </form>

</body>
</html>
