<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vigenere: Kasiski-Test</title>
</head>

<script src="{{url_for('bp_vigenere.kasiski_js_send')}}">
</script>


<body>
    <!-- das ist ein kommentar -->

  <h1>Bestimmen der Schlüssellänge mit dem Kasiski-Test</h1>

  <nav>
      <a href="{{url_for('bp_vigenere.verschluesseln')}}" >Verschlüsseln</a>
      <a href="{{url_for('bp_vigenere.entschluesseln')}}" >Entschlüsseln</a>
      <a href="{{url_for('bp_vigenere.kasiski_test')}}">Kasiski-Test</a>
      <a href="{{url_for('bp_vigenere.koinzidenzindex_methode')}}">Koinzidenzindex-Methode</a>
      <a href="{{url_for('bp_vigenere.gki_methode')}}">Schlüsselberechnung</a>
  </nav>

  <br>

  <form action="{{url_for('bp_vigenere.kasiski_test_buttonclick')}}" method="post" enctype="multipart/form-data">
      <label for="ngramm_length">Eingabe der Länge der zu bearbeitenden n-grammme (als positive Ganzzahl):</label>
      <input type="number" id="ngramm_length" name="ngramm_length" value="{{ngramm_param}}"><br><br>
      <label for="ciphertext_upload">Upload des verschlüsselten Textes: </label>
      <input type="file" id="ciphertext_upload" name="ciphertext_upload"><br>
      <label for="cipher_text">Alternativ:</label><br>
      <label for="cipher_text">Eingabe des verschlüsselten Textes:</label><br>
      <textarea id="cipher_text" name="cipher_text" value="{{text_param}}" rows="4" cols="50">{{text_param}}</textarea><br>
      <label>
          Zur Berechnung der Schlüssellänge wird wenn vorhanden der Uploadtext verwendet.<br>
          Ist keine Datei vorhanden wird der eingegebene Text verwendet
      </label><br>
          {% with messages = get_flashed_messages() %}
             {% if messages %}
                {% for message in messages %}
                    <p>
                        <tagname style="color:red;">{{ message }}</tagname>
                    </p>
                {% endfor %}
            {% endif %}
          {% endwith %}
      <button type="submit">Schlüssellange berechnen</button><br>
  </form>

    <br>
  <form>
      <p>Es wurden {{ng_anzahl}} n-gramme gefunden.</p>
      <p>Wählen sie ein zu betrachtendes n-gramm aus.</p>
      <p>
          <label>n-gramm:
              <select name="ngramme" size="4">
                  {% for item in ngramme %}
                  <option label="{{item[0]}}" onclick="onClickNgramm('{{item[0]}}', {{item[1]}}, {{item[2]}})">{{item[0]}}</option>
                  {% endfor %}
              </select>
          </label>
      </p>
      <p>
          Berechnete Schlüssellänge (häufigster gcd der ermittelten n-gramme): {{gcd}}
      </p>
  </form>

  <div id="ausgabe_positionen">
  </div>

  <div id="ausgabe_text_farbig">
  </div>

</body>
</html>