<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- ggf. wieder löschen: Grafiktest -->
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Vigenere: Schlüsselberechnung</title>
    <style>
        table,th,td{border:1px solid #cccccc}
    </style>
</head>

<script src="{{url_for('bp_vigenere.schluessel_js_send')}}">
</script>

<body>

  <h1>Bestimmen des Schlüssels</h1>

  <nav>
      <a href="{{url_for('bp_vigenere.verschluesseln')}}" >Verschlüsseln</a>
      <a href="{{url_for('bp_vigenere.entschluesseln')}}" >Entschlüsseln</a>
      <a href="{{url_for('bp_vigenere.kasiski_test')}}">Kasiski-Test</a>
      <a href="{{url_for('bp_vigenere.koinzidenzindex_methode')}}">Koinzidenzindex-Methode</a>
      <a href="{{url_for('bp_vigenere.gki_methode')}}">Schlüsselberechnung</a>
  </nav>

  <br>

  <form action="{{url_for('bp_vigenere.gki_methode_buttonclick')}}" method="post" enctype="multipart/form-data">
      <label>Eingabe oder upload des Ciphertextes: </label><br>
      <label>(Wenn vorhanden wird der Upload verwendet)</label><br>
      <label for="ciphertext_upload">Upload des verschlüsselten Textes: </label>
      <input type="file" id="ciphertext_upload" name="ciphertext_upload"><br>
      <label for="cipher_text">Eingabe des verschlüsselten Textes:</label><br>
      <textarea id="cipher_text" name="cipher_text" value="{{text_param}}" rows="4" cols="50">{{text_param}}</textarea><br>

      <label for="schwellwert">Eingabe des Schwellwerts (Default 0.065): </label>
      <input type="number" id="schwellwert" name="schwellwert" value="{{schwellwert_param}}"><br>

      <label for="keylength">Eingabe der Schlüssellänge: </label>
      <input type="number" id="keylength" name="keylength" value="{{keylength_param}}"><br>

          {% with messages = get_flashed_messages() %}
             {% if messages %}
                {% for message in messages %}
                    <p>
                        <tagname style="color:red;">{{ message }}</tagname>
                    </p>
                {% endfor %}
            {% endif %}
          {% endwith %}

      <button type="submit">Schlüssel berechnen</button><br>
  </form><br>


  <!-- Ausgabe des Eingabetextes aufgeteilt in Einzeltexte -->
  <table>
      {% for item in texte %}
      <tr>
          <td>{{item[0]}}</td>
          <td>{{item[1]}}</td>
      </tr>
      {% endfor %}
  </table><br>

  <!-- Grafikspaltenauswahl -->
  <form>
      <p>Wählen Sie 2 Texte zur Grafischen Darstellung des gegenseitigen Koinzidenzindexes.</p>
      <p>
          <label>Text 1:
              <select id="text1" name="text1" size="3">
                  {% for item in texte %}
                  <option label="{{item[0]}}" >{{item[0]}}</option>
                  {% endfor %}
              </select>
          </label>
          <label>Text 2:
              <select id="text2" name="text2" size="3">
                  {% for item in texte %}
                  <option label="{{item[0]}}" >{{item[0]}}</option>
                  {% endfor %}
              </select>
          </label>
      </p>
  </form>


  <!-- Bild laden -->
  <button id="button_anzeigen" name="button_anzeigen" onclick="bildNeuLaden({{ texte }})">Grafik berechnen</button>
  <div>
      <img id="diagrammbild" src="{{url_for('bp_vigenere.matplotimage')}}?text1=0&text2=0&shift=0" alt="Matplot Image">
  </div>
  <button id="button_zurueck" name="button_zurueck" onclick="lastBild()">vorherige Grafik</button>
  <button id="button_weiter" name="button_weiter" onclick="nextBild()">nächste Grafik</button>


  <!-- MIc's mit den allen Verschiebungen -->
  <br><br><br>
  <table>
      <tr>
          <th>i</th>
          <th>j</th>
          <th>MIc(zi,zj^g)</th>
      </tr>
      {% for item in mics %}
      <tr>
          <td>{{item[0]}}</td>
          <td>{{item[1]}}</td>
          <td>
              {% for werte in item[2] %}
              {% if werte[1] == item[3] %}
                {% if werte[1] >= schwellwert_param%}
                    <tagname style="color:#00FF00;">{{werte[0]}}:{{werte[1]}}</tagname>
                    {% else %}
                    <tagname style="color:red;">{{werte[0]}}:{{werte[1]}}</tagname>
                {% endif %}
              {% else %}
                {{werte[0]}}:{{werte[1]}}
              {% endif %}
              {% endfor %}
          </td>
      </tr>
      {% endfor %}
  </table><br>


  <!-- die berechnete Matrix -->
  <table>
      <tr>
          <th rowspan="2">i</th>
          <th colspan={{keylength_param}}>j</th>
      </tr>
      <tr>
          {% for item in matrix %}
          <th>{{item[2]}}</th>
          {% endfor %}
          <th>Schlüsselberechnung</th>
      </tr>
      {% for row in matrix %}
      <tr>
          <th>{{row[2]}}</th>
          {% for item in row[0] %}
            {% if row[1] == True %}
                <td><tagname style="color:green;">{{item}}</tagname></td>
            {% else %}
                <td><tagname style="color:red;">{{item}}</tagname></td>
            {% endif %}
          {% endfor %}
          <td>
              {% if row[1] == True %}
              (
              {% for item in row[0] %}
              k{{row[2]}}+{{item}}
              {% endfor %}
              )
              {% else %}
              {% endif %}
          </td>
      </tr>
      {% endfor %}
  </table>


  <!-- Ausgabe Schlüssel -->
  <form>
      <p>Wählen Sie eine Zeile zur Schlüsselberechnung aus.</p>
      <p>
          <label>Schlüssel:
              <select name="keys" size="2">
                  {% for item in matrix %}
                  {% if item[1] == True %}
                  <option label="k{{item[2]}}" onclick="onClickSchluessel({{item[2]}}, {{schluessel}})">k{{item[2]}}</option>
                  {% endif %}
                  {% endfor %}
              </select>
          </label>
      </p>
  </form>


  <!-- Hier werden später die möglichen Schlüssel mithilfe von Javascript angezeigt -->
 <table>
      <tbody id="schluessel_berechnung">
      </tbody>
  </table>


</body>
</html>