<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vigenere: Verschlüsselung</title>
</head>

<body>

  <h1>Verschlüsselung mit der Vigenere Chiffre</h1>

   <nav>
       <a href="{{url_for('bp_vigenere.verschluesseln')}}" >Verschlüsseln</a>
       <a href="{{url_for('bp_vigenere.entschluesseln')}}" >Entschlüsseln</a>
       <a href="{{url_for('bp_vigenere.kasiski_test')}}">Kasiski-Test</a>
       <a href="{{url_for('bp_vigenere.koinzidenzindex_methode')}}">Koinzidenzindex-Methode</a>
       <a href="{{url_for('bp_vigenere.gki_methode')}}">Schlüsselberechnung</a>
   </nav>

  <form action="{{url_for('bp_vigenere.verschluesseln_buttonclick')}}" method="post" enctype="multipart/form-data">
    <label for="key">Eingabe des Schlüssels:</label>
    <input type="text" id="key" name="key" value="{{key_param}}"><br>
    <br>
    <label for="cleartext_upload">Upload für den zu verschlüsselnden Text: </label>
    <input type="file" id="cleartext_upload" name="cleartext_upload" value="{{upload_param}}"><br>
    <label for="cleartext_text">Alternativ:</label><br>
    <label for="cleartext_text">Eingabe des zu verschlüsselnden Textes:</label><br>
    <textarea id="cleartext_text" name="cleartext_text" value="{{text_param}}" rows="4" cols="50">{{text_param}}</textarea><br>
        {% with messages = get_flashed_messages() %}
           {% if messages %}
              {% for message in messages %}
                  <p>
                      <tagname style="color:red;">{{ message }}</tagname>
                  </p>
              {% endfor %}
          {% endif %}
        {% endwith %}
    <button type="submit">Berechnen</button><br>
  </form>

  <br>

  <table>
      <tr>
          {% for item in keytable %}
          <td>{{item[0]}}</td>
          {% endfor %}
      </tr>
      <tr>
          {% for item in keytable %}
          <td>{{item[1]}}</td>
          {% endfor %}
      </tr>
  </table>

  <br>

  <table>
      <tr>
          {% for item in encrypttable %}
          <td>{{item[0]}}</td>
          {% endfor %}
      </tr>
      <tr>
          {% for item in encrypttable %}
          <td>{{item[1]}}</td>
          {% endfor %}
      </tr>
      <tr>
          {% for item in encrypttable %}
          <td>{{item[2]}}</td>
          {% endfor %}
      </tr>
      <tr>
          {% for item in encrypttable %}
          <td>{{item[3]}}</td>
          {% endfor %}
      </tr>
      <tr>
          {% for item in encrypttable %}
          <td>{{item[4]}}</td>
          {% endfor %}
      </tr>
  </table>


  <p>
      {{ciphertext}}
  </p>

  <form method="get" action="{{url_for('bp_vigenere.encrypt_download_file')}}">
     <button type="submit">Download!</button>
  </form>

</body>
</html>




